<a href="https://colab.research.google.com/github/UPstartDeveloper/DS-1.1-Data-Analysis/blob/master/Notebooks/Caloric_Density.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question from <a href="www.interviewqs.com">Data Interview Qs</a> - sign up to receive a few DS questions/week via email.



---

<p>Suppose you are given the following dataframe containing food, weight, and calories. You'll notice the foods have varying weights associated with them.</p>
<p>Using Python (Pandas), can you sort the dataframe in descending order with the most calorically dense food (normalized for weight) at the top?<p>

In [1]:
#code to generate example dataframe
import pandas as pd
raw_data = {'food': ['bacon', 'strawberries', 'banana', 'spinach', 'chicken breast', 'peanuts'], 
            'grams': [50, 200, 100, 200, 50, 100],
           'calories': [271, 64, 89, 46, 80, 567]}
df = pd.DataFrame(raw_data, columns = ['food', 'grams', 'calories'])
df

             food  grams  calories
0           bacon     50       271
1    strawberries    200        64
2          banana    100        89
3         spinach    200        46
4  chicken breast     50        80
5         peanuts    100       567

<p><a href="https://www.interviewqs.com/signup">Upgrade to premium</a> to receive in-depth solutions to each problem.</p>

1. Restate the Problem 
- return a new `df` that lists the foods by caloric density, in desc order?

2. Clarifications
- caloric density = calories / grams?
- should new df have a col for the caloric density? no
- is the input df mutable? up to you 
- what if two more foods have the same caloric density - make the algorithm stable
- ASSUME no missing values
- ASSUME all unique foods
- ASSUME the db is small enough to fit in memory

3. Intution - 
- fairly straightforward - need to sort based on value that takes two params

4. Edge Case:
- empty df - return empty df
- TODO: handle the cases in the ASSUME statements after initial solution

5. Approach (brute force)
- helper func = calc the cal_density
- Pandas API: 
  - add a new column to the input df for the caloric density
  - then sort by that col
  - remove that column
  - return modfied df



---

In [4]:
def caloric_density(calories, weight):
  return calories / weight

In [40]:
def sort_by_caloric_density(df):
  # A: add a new column to the input df for the caloric density
  caloric_densities = [
    caloric_density(calories, grams) for calories, grams in
    zip(df["calories"], df["grams"])
  ]
  df['caloric_density'] = pd.Series(caloric_densities)
  # B: then sort by that col
  df.sort_values(by="caloric_density", ascending=False, 
                 inplace=True, kind='mergesort', ignore_index=False)
  # C: remove that column
  df.drop(columns=["caloric_density"], inplace=True)
  # C: return modfied df 
  return df

In [41]:
sort_by_caloric_density(df)

             food  grams  calories
5         peanuts    100       567
0           bacon     50       271
4  chicken breast     50        80
2          banana    100        89
1    strawberries    200        64
3         spinach    200        46