In [3]:
import csv

In [4]:
import csv
def count_passengers():
    count = 0
    with open('titanic.csv') as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=",")
        for row in csv_reader:
            print(row)
            if row[1] == 1 & row[4] == 'female':
                count+=1
print(count)

NameError: name 'count' is not defined

In [1]:
import csv

with open('titanic.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    # set the counter
    c = 0
    # iterate over rows 
    for row in csv_reader:
        # if passenger is female and if she survived, increase the counter
        if (row[1] == '1') & (row[4] == 'female'):
            c += 1
print(c)

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

In [5]:
from collections import OrderedDict
from pandas import DataFrame
import pandas as pd
import numpy as np

table = OrderedDict((
    ("Item", ['Item0', 'Item0', 'Item1', 'Item1']),
    ('CType',['Gold', 'Bronze', 'Gold', 'Silver']),
    ('USD',  ['1$', '2$', '3$', '4$']),
    ('EU',   ['1€', '2€', '3€', '4€'])
))
d = DataFrame(table)

In [6]:
d

    Item   CType USD  EU
0  Item0    Gold  1$  1€
1  Item0  Bronze  2$  2€
2  Item1    Gold  3$  3€
3  Item1  Silver  4$  4€

In [7]:
p = d.pivot(index='Item', columns='CType', values='USD')

In [8]:
p

CType Bronze Gold Silver
Item
Item0     2$   1$    NaN
Item1    NaN   3$     4$