<a href="https://colab.research.google.com/github/UPstartDeveloper/DS-1.1-Data-Analysis/blob/master/Notebooks/Replace_Negatives.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Replacing bad data with Pandas
## Data Analysis, Python Pandas, and Data Cleaning

*Originally from Data Interview Q's*

Suppose you are given a dataframe, `df`, that contains various negative values. In the context of your work, negative values can be considered 'bad data'. 

Write a function in Python (using Pandas) that replaces these bad values with the group mean.

----------------------------------
1. Clarifications:
- EXAMPLE DF:

```
df = pd.DataFrame({
  "person": [1/11, 1/12, 1/13, 1/14],
  "ageHumanYears": [67,   45,   32,   11]
  "ageTurtleYears": [34,   11,   -55,   11]
})
```

2. Doesn't make sense contextually, but following questions:
- group mean - ASSUME it means the mean of col values?

3. ASSUME we only clean the negative values

4. ASSUME it's done out of place, return the new `df`

5. Other questions:
  - what are the data types of the numerical values - and can we assume they'll use Numpy data types or anything like that?
  

-----------------------------------
Brainstorming:

Intuition: use Pandas `replace` and `apply` functions
Approach: 
  - im

Edge Cases: 
- nan values
  - basically avoid filling it in somehow
  - but presumably, we do count it in calculating the group mean
  - what if the group mean is negative? 
    - 
  - what if the column is all negatvies?
    - 

- no rows at all - all good, return empty df

In [51]:
import numpy as np
import pandas as pd
from typing import List

def replace_negatives(df: pd.DataFrame, columns=None) -> pd.DataFrame:
  def calculate_mean(df, col_name):
    # get all positives
    positives = pd.Series(df[df[col_name] >= 0].values.any())
    # if no positives, return zero
    if positives.shape[-1] == 0:
      return 0
    # if the sum of all values in the col is negative, just sum the positives
    numerator = df[col_name].sum()
    if numerator < 0:
      numerator = positives.sum() 
    # return the mean
    return numerator / df[col_name].shape[-1]
  # if columns is not given, iterate over all the columns:
  if columns is None:
    columns = df.columns
  new_df = df.copy()
  for col_name in columns:
    # - find the mean of the column, if not full of nans
    mean = calculate_mean(df, col_name)
    # - replace the negative values
    new_df[col_name] = df[col_name].apply(lambda x: mean if x < 0 else x)
  # - return the df
  return new_df

In [52]:
df = pd.DataFrame({
  "person": [1/11, 1/12, 1/13, 1/14],
  "ageHumanYears": [67,   45,   32,   11],
  "ageTurtleYears": [34,   11,   -55,   11]
})

In [53]:
replace_negatives(df)

     person  ageHumanYears  ageTurtleYears
0  0.090909             67           34.00
1  0.083333             45           11.00
2  0.076923             32            0.25
3  0.071429             11           11.00

In [27]:
np.nan < 0  # as we can see, we DO NOT need to explicty check data types before comparing a NumPy NaN to an int in Python

False