<a href="https://colab.research.google.com/github/UPstartDeveloper/DS-1.1-Data-Analysis/blob/master/Notebooks/Top_Spending_Users.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [InterviewQs](https://www.interviewqs.com/): "Top spending users"

Suppose you have the following [dataset](https://docs.google.com/spreadsheets/d/1DrvkAWnO1psWkFN1YVt891sHe4yHl4ljNPUVlCsI95M/edit#gid=2039795889) which contains which contains:

**(1st tab)**: a list of items purchased by a given user, 

**(2nd tab)**: a mapping which maps the item_id to the item name and price

**(3rd tab)**: a matrix that formats data from sheet 1 into a matrix with users in rows and the number of each item_id purchased.

Given these 3 data sets, can you create a list of users who have spent the most?


**Clarifications**:

*Assume*
1. Return a list all user ids
2. Sorted in descendng order
3. Spent the most in DOLLARS, not quantitiy
4. Algorithm should be stable - 
  1. if two users spent ==, they go in the order they appear in sheet

5. Assume the user_ids are randomly generated
6. only care about the user_ids that show in sheet three

*Intuition:*
- 1st tab - wHAT items each user bought
- 2nd tab - what each items cost
- 3rd tab - the QUANTITIES of each sale

Approach:

1. map each user to the dollars they spent
  1. iterate through user_ids in SHEET 3
  2. Look up the items they bought [SHEET 1]
  3. for each of those items:
    1. look up the quantitiy that user the bought [3]
    2. multiply quantity * unit. price [2] 
  4. map the price in the dict, to a list of users, who have bought that much
2. sort by the keys in the dict, greatest to leas
3. merge all the users into another, larger list
4. return the sorted list

Edge Cases:
1. No users --> return []
2. no sales --> return all user ids [all bought zero] 
3. BIG dataset --> not worry for now, can think more about the datapipeline as needed


```
Small Input Test: First 3 rows of Sheet 3

dollar_users = {
  100: [100002]
}

100002 --> bought 42,45,22,33,15,11
total_spent = 0, 1
1 * 1 = 1
```

# Solution

## Importing Packages

In [1]:
import pandas as pd

## Getting the Datasets in Memory

My approach to this: 

1. Save the Google Spreadsheet above as an Excel spreadhsheet
2. Upload it someplace in Google Drive where I had permissions
3. Mount my Google Drive onto this Colab notebook
4. copy the path to the notebook (apparently it has to tbe the absolute URL, but I'm not sure) into the `URL` variable below

I am sure there are other ways to do this though!

In [2]:
URL = "/content/drive/MyDrive/Colab Notebooks/InterviewQs/grocery_shopping_data.xlsx"
items_sold, prices, quantities_sold = (
    pd.read_excel(URL, sheet_name=0),
    pd.read_excel(URL, sheet_name=1),
    pd.read_excel(URL, sheet_name=2)
)

### Test to Make Sure the Data Loaded in OK

In [3]:
items_sold.head()

   user_id                                                 id
0   222087                                              27,26
1  1343649                                            6,47,17
2   404134                       18,12,23,22,27,43,38,20,35,1
3  1110200                                 9,23,2,20,26,47,37
4   224107  31,18,5,13,1,21,48,16,26,2,44,32,20,37,42,35,4...

In [18]:
prices.head()

    item_name  Item_id  price
0       sugar        1      2
1     lettuce        2      1
2   pet items        3      2
3  baby items        4      4
4     waffles        5      2

In [5]:
quantities_sold.head()

   user_id  1  2  3  4  5  6  7  8  9  ...  39  40  41  42  43  44  45  46  47  48
0   100002  0  0  0  0  0  0  0  0  0  ...   0   0   0   1   0   0   1   0   0   0
1  1000074  0  1  0  0  0  0  1  1  0  ...   1   2   0   0   1   0   1   1   0   1
2   100009  1  0  0  0  0  1  0  0  1  ...   2   0   1   0   0   0   1   0   0   0
3  1000096  0  0  0  0  0  0  0  0  0  ...   1   0   1   0   1   0   0   0   0   0
4  1000103  0  1  0  0  0  2  0  1  1  ...   2   1   0   1   1   2   1   1   0   1

[5 rows x 49 columns]

## Sorting Through the Users

In [34]:
def top_spending_users(items_sold: pd.DataFrame, prices: pd.DataFrame, quantities_sold: pd.DataFrame) -> list:
  '''1. map each user to the dollars they spent'''
  def calculate_spending():
    # 1. iterate through user_ids in SHEET 3
    user_ids = quantities_sold["user_id"]
    spendings_of_users = dict()
    #   2. Look up the items they bought [SHEET 1]
    for user_id in user_ids:
      item_ids = items_sold[items_sold["user_id"] == user_id]["id"].iloc[0]
      item_ids = str(item_ids).split(",")
      # 3. for each of those items:
      total_spent = 0
      for item_id in item_ids:
        # 1. look up the quantitiy that user the bought [3]
        quantities_items = (
            quantities_sold[quantities_sold["user_id"] == user_id]
        )
        quantity = float(quantities_items[int(item_id)].iloc[0])
        # 2. multiply quantity * unit. price [2] 
        unit_price = float(
            prices[prices["Item_id"] == int(item_id)]["price"]
        )
        total_spent += quantity * unit_price
      # 4. map the price in the dict, to a list of users, who have bought that much
      if not total_spent in spendings_of_users:
        spendings_of_users[total_spent] = [user_id]
      else:
        spendings_of_users[total_spent].append(user_id)
    return spendings_of_users 

  # calc how much the users spent
  spendings_of_users = calculate_spending()
  # 2. sort by the keys in the dict, greatest to leas
  top_spending = list()
  for spending_amt in sorted(list(spendings_of_users.keys())):
    users = spendings_of_users[spending_amt]
    # 3. merge all the users into another, larger list
    top_spending.extend(users)
  # 4. return the sorted list
  return top_spending

### Time Analysis

```
let u = # of users
let p = # of unique products

Complexity of each high-level step:
1. u * p
2. u*log(u) 
3. u
4. constant

Overall Time Complexity: O(u(p + log(u)))
```

### Space Analysis: 

```
O(u) --> both the user_ids, spendings_of_users, and top_spending variable grow asympotically w/ # of users

O(p) - at most, a user might have bought at least 1 of each distinct product (stored in item_ids)

Overall Space Complexity: O(u + p)
```

### Test the Solution

In [35]:
top_spending_users(items_sold, prices, quantities_sold)

[1000931,
 100873,
 1015557,
 1016370,
 1022728,
 1023667,
 1027720,
 1035892,
 1036177,
 1041764,
 1045033,
 104672,
 1056238,
 1064492,
 1067244,
 1070053,
 1076873,
 1080923,
 1093281,
 1095882,
 1099222,
 111632,
 1119150,
 1130095,
 1130679,
 1143765,
 1152464,
 1158246,
 1161000,
 1182035,
 1198176,
 120280,
 1215020,
 1215832,
 1218432,
 1221360,
 1222022,
 1224892,
 122813,
 1229425,
 1231885,
 1232338,
 1235296,
 125030,
 1253476,
 125512,
 1266055,
 1268358,
 1270245,
 1275620,
 129491,
 1297730,
 1297736,
 1300574,
 134092,
 134781,
 1357143,
 1362722,
 1363232,
 1365664,
 1372670,
 1373524,
 1374033,
 1379766,
 1381082,
 1390441,
 1392762,
 1393504,
 1393899,
 1398043,
 140425,
 1410067,
 141208,
 1417887,
 1422895,
 1426606,
 1427389,
 1429126,
 1441377,
 1449794,
 1459449,
 1478275,
 1479674,
 1482677,
 1488384,
 1492655,
 1493638,
 1497187,
 1499428,
 155231,
 163889,
 164101,
 168337,
 170979,
 176578,
 181934,
 187754,
 18819,
 200535,
 20181,
 209059,
 211797,
 219847,
 224740,
 236760,
 243206,
 247537,
 259784,
 263204,
 271969,
 278689,
 286896,
 291164,
 299667,
 317788,
 3300,
 332185,
 333048,
 33307,
 346785,
 354464,
 355678,
 358344,
 363899,
 366844,
 374012,
 377243,
 377908,
 385668,
 397386,
 400803,
 409473,
 422261,
 422622,
 422843,
 433439,
 435885,
 444170,
 457622,
 458415,
 462945,
 467676,
 468132,
 486321,
 489299,
 490736,
 515078,
 521563,
 524892,
 526746,
 530986,
 532855,
 533733,
 540462,
 547338,
 550625,
 554327,
 564122,
 569937,
 596619,
 602210,
 607454,
 610157,
 618737,
 618992,
 623159,
 631211,
 634382,
 641631,
 64270,
 644265,
 650855,
 656796,
 661146,
 67159,
 672080,
 67272,
 677067,
 682142,
 686200,
 700944,
 702308,
 707466,
 718696,
 719054,
 729908,
 731116,
 737391,
 743113,
 74341,
 746188,
 75823,
 765381,
 774522,
 788898,
 790030,
 796190,
 797493,
 809760,
 814498,
 81657,
 816655,
 825809,
 827738,
 828306,
 833849,
 843777,
 844491,
 845538,
 845728,
 853629,
 855208,
 858964,
 859915,
 871725,
 873657,
 88209,
 88595,
 886804,
 900507,
 909941,
 920451,
 920582,
 922364,
 923420,
 929686,
 940440,
 944109,
 944395,
 948898,
 95941,
 959708,
 972498,
 980954,
 99414,
 997511,
 999157,
 1000107,
 100215,
 1004213,
 1006165,
 1009500,
 1014544,
 1017274,
 1019397,
 1021445,
 1022439,
 1030414,
 1031193,
 104407,
 1044108,
 1050726,
 1056283,
 1056463,
 1058759,
 1059782,
 1064621,
 1075,
 1089153,
 1092043,
 1093520,
 1099848,
 1102167,
 1108098,
 1110531,
 1111324,
 1113726,
 1118004,
 1121431,
 1136296,
 1139890,
 1142685,
 1143215,
 114583,
 1150781,
 1153823,
 1153991,
 1155486,
 115714,
 1166030,
 117178,
 1173745,
 1175036,
 1176014,
 1176965,
 1180475,
 1182948,
 1184522,
 1184906,
 1187169,
 1187918,
 1189751,
 1192464,
 1194776,
 1199153,
 1203503,
 120558,
 1210629,
 1224063,
 1227802,
 1239269,
 124524,
 1248645,
 1264381,
 1274194,
 1274600,
 1279019,
 127968,
 1280810,
 1281823,
 1288194,
 1291865,
 1296184,
 13074,
 1308373,
 1312,
 1312475,
 1314909,
 1319942,
 1321814,
 1325787,
 1326101,
 1328874,
 1332172,
 1332293,
 1334580,
 1343073,
 1343144,
 1348970,
 1350093,
 1356929,
 1366168,
 1368852,
 1377979,
 1378602,
 138354,
 1384236,
 139423,
 1397281,
 1425643,
 1428340,
 1429785,
 1430699,
 1431508,
 1434529,
 1435527,
 1440443,
 1442805,
 1448172,
 1451114,
 1457562,
 1459469,
 1459697,
 1459984,
 1461386,
 1463724,
 1464451,
 1465446,
 1473543,
 1476426,
 1479673,
 1482747,
 1487432,
 1487767,
 1492675,
 15003,
 152695,
 153407,
 155604,
 162797,
 165658,
 167544,
 16919,
 170709,
 170950,
 175196,
 176715,
 177599,
 180302,
 180528,
 187249,
 191642,
 192584,
 200183,
 203712,
 207295,
 209859,
 211513,
 21510,
 218199,
 225421,
 228688,
 231930,
 232024,
 233549,
 239684,
 248355,
 251162,
 25541,
 260592,
 262080,
 265496,
 268012,
 276378,
 280218,
 281779,
 285679,
 289752,
 300623,
 30773,
 313373,
 314838,
 315825,
 320011,
 324219,
 327041,
 329024,
 333076,
 33663,
 341159,
 350135,
 350780,
 355961,
 358310,
 35948,
 364853,
 367597,
 370405,
 373571,
 376782,
 377296,
 379702,
 388446,
 41077,
 416553,
 433877,
 434552,
 435631,
 443513,
 444845,
 449670,
 449762,
 451869,
 456052,
 456253,
 459797,
 465406,
 46815,
 469461,
 469867,
 473687,
 480960,
 483544,
 490272,
 490912,
 501866,
 505137,
 512868,
 519395,
 529447,
 545847,
 550099,
 552804,
 55492,
 557284,
 563767,
 564587,
 568442,
 572768,
 573105,
 573631,
 575892,
 580246,
 581248,
 581446,
 595861,
 599993,
 602449,
 60353,
 607689,
 613696,
 613815,
 614439,
 614663,
 619064,
 627701,
 629584,
 629803,
 631260,
 631982,
 632176,
 634921,
 637161,
 649499,
 653056,
 65325,
 657971,
 663672,
 674490,
 674955,
 681342,
 697143,
 697713,
 702668,
 704269,
 705167,
 705902,
 709418,
 710187,
 711067,
 711464,
 716802,
 71909,
 72910,
 743964,
 750216,
 750895,
 758174,
 771282,
 772682,
 773016,
 774559,
 777404,
 779283,
 782104,
 789573,
 791197,
 799220,
 818821,
 821182,
 822097,
 824928,
 826830,
 826988,
 827520,
 828537,
 837870,
 84410,
 844518,
 852621,
 858796,
 867857,
 869469,
 877465,
 878138,
 880743,
 884552,
 886775,
 88759,
 888417,
 890722,
 892932,
 894356,
 897814,
 899244,
 899265,
 90302,
 904192,
 910492,
 911488,
 912207,
 915996,
 929940,
 930392,
 932242,
 946839,
 94859,
 949550,
 950139,
 95016,
 950877,
 95448,
 955755,
 958389,
 960288,
 96612,
 96749,
 967721,
 9688,
 976830,
 97767,
 981233,
 984470,
 989283,
 990952,
 9985,
 1000664,
 1013379,
 1020417,
 1022585,
 1027157,
 1027711,
 1027991,
 1036211,
 103846,
 1039457,
 1042983,
 1044045,
 1045167,
 1049328,
 104981,
 1054242,
 1056852,
 1057583,
 1058877,
 1059717,
 1068217,
 1069788,
 1071892,
 1072011,
 1073752,
 107960,
 1081296,
 108975,
 1101309,
 1109762,
 1111171,
 1111186,
 1111353,
 1116321,
 1120686,
 1127683,
 1134731,
 1140574,
 1142170,
 114962,
 1167083,
 1171045,
 1172150,
 1172306,
 1172307,
 1179084,
 1180313,
 1180756,
 1181536,
 118406,
 1184655,
 1185419,
 1187040,
 1197208,
 119780,
 1203339,
 1205980,
 1210831,
 121102,
 121112,
 1213841,
 1222311,
 1222918,
 1224182,
 1233216,
 1248554,
 1265851,
 1267040,
 1269654,
 1279834,
 1281151,
 1283472,
 1286380,
 1288131,
 1288494,
 1295351,
 1301444,
 1306728,
 1308921,
 1316381,
 1318426,
 131893,
 1320675,
 1322549,
 1324270,
 132915,
 1329911,
 1333210,
 1337302,
 1343842,
 1344038,
 1344621,
 134584,
 134836,
 1356358,
 1358755,
 1359236,
 1362394,
 1363306,
 1366701,
 1369647,
 1370611,
 13749,
 1376890,
 1389789,
 1391917,
 1395281,
 1396633,
 140151,
 1405307,
 1410993,
 1415796,
 1418150,
 1420283,
 1424156,
 1425621,
 1433395,
 1435548,
 143577,
 1441887,
 1446205,
 1447135,
 1448285,
 1452277,
 1454706,
 1457106,
 146038,
 1468490,
 1468994,
 1473002,
 1474331,
 1476568,
 1477312,
 1478655,
 1490186,
 1492502,
 1493401,
 1494483,
 1495461,
 15296,
 154524,
 155712,
 156430,
 157309,
 159068,
 159792,
 161402,
 16869,
 171347,
 173132,
 173183,
 178201,
 17854,
 178692,
 189111,
 190569,
 190577,
 19618,
 206954,
 209458,
 211488,
 226227,
 227294,
 236132,
 240915,
 241518,
 24346,
 243481,
 250687,
 250823,
 254649,
 260598,
 26600,
 26760,
 273079,
 273309,
 283589,
 287350,
 29005,
 292610,
 295328,
 302800,
 304969,
 309948,
 318009,
 327214,
 327924,
 331304,
 334250,
 343655,
 346625,
 362783,
 363590,
 364074,
 368221,
 372738,
 375107,
 377063,
 379372,
 383493,
 384964,
 392273,
 397972,
 405584,
 411016,
 41575,
 420197,
 420434,
 424946,
 425159,
 441622,
 454621,
 465099,
 465956,
 470804,
 474009,
 47582,
 480818,
 482902,
 486350,
 488259,
 49016,
 491750,
 493381,
 499983,
 501846,
 503276,
 504367,
 504858,
 511920,
 512475,
 517667,
 518371,
 529237,
 54095,
 541584,
 549160,
 55148,
 552889,
 553285,
 56288,
 566658,
 576363,
 580301,
 58057,
 581197,
 587677,
 601146,
 6067,
 609843,
 614523,
 614769,
 614900,
 624858,
 627939,
 631690,
 638744,
 640359,
 646142,
 651542,
 654279,
 656536,
 658360,
 66049,
 660925,
 684109,
 685437,
 697906,
 698096,
 699469,
 699939,
 71171,
 717806,
 724176,
 726251,
 726914,
 727717,
 729308,
 73105,
 731312,
 73311,
 734607,
 739298,
 746062,
 749560,
 754864,
 758020,
 759155,
 766332,
 772198,
 777380,
 78168,
 793645,
 795247,
 798696,
 799146,
 800334,
 800705,
 80150,
 806536,
 811543,
 822331,
 826686,
 827705,
 831432,
 83228,
 834154,
 838783,
 839371,
 840112,
 845646,
 846077,
 85129,
 852085,
 854122,
 854272,
 864272,
 864572,
 864642,
 865185,
 867247,
 868587,
 876270,
 879691,
 881409,
 88760,
 889388,
 896138,
 896343,
 899877,
 9007,
 900721,
 901035,
 909013,
 909182,
 917055,
 918561,
 924412,
 926850,
 933204,
 933311,
 933880,
 934734,
 943547,
 944061,
 950148,
 957356,
 957579,
 958188,
 959132,
 963831,
 964402,
 96694,
 970155,
 970542,
 981986,
 987057,
 989559,
 996035,
 1000656,
 1005348,
 1009733,
 1012604,
 1013330,
 1024046,
 1025379,
 1029112,
 1030921,
 1031893,
 1032801,
 103309,
 1034939,
 1048055,
 1048673,
 1052729,
 10561,
 1059304,
 1060617,
 1061521,
 1061694,
 1061866,
 1063786,
 1064203,
 1067847,
 1068072,
 1070079,
 1073608,
 1087826,
 1090234,
 1093137,
 1093447,
 1097787,
 1098524,
 1103816,
 1109424,
 1114390,
 1115716,
 1118130,
 111856,
 1122623,
 1123608,
 1125113,
 1125467,
 1130734,
 1132247,
 1135340,
 1136458,
 1137784,
 1138460,
 114338,
 1152074,
 1160239,
 1167670,
 1173515,
 ...]